//FONTS
@font-face {
    font-family: 'arial';
    src: url(../fonts/Arial.ttf);
}

//COLORS
$primary: #141414;
$secondary: #34495e;
$action-color: #ecf0f1;
$priority_1: #d35400;
$priority_2: #f39c12;
$priority_3: #f1c40f;
$background-color: #FEFEFE;
